<link rel="stylesheet" type="text/css" href="../styles/master.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('navbar.ejs') %>

<body>
  <input type="text" id="search-bar" placeholder="Search...">
  <table id="machine-listing">
    <thead>
      <tr>
        <th>Hall</th>
        <th>Machine ID</th>
        <th>Machine SN</th>
        <th>Equipment Code</th>
        <th>Phase MV3D</th>
        <th>Version Racks</th>
        <th>Version Algo</th>
        <th>Sensi Algo</th>
        <th>Révision HVPS</th>
        <th>RAM IAC</th>
        <th>TTL</th>
      </tr>
    </thead>
    <tbody>
      <%if (machine.length >0){ %>
      <% machine.forEach(machineElement => { %>
        <tr>
          <td><%= machineElement.hall %></td>
          <td><%= machineElement.machineId %></td>
          <td><%= machineElement.machineSN %></td>
          <td><%= machineElement.equipmentCode %></td>

          <td><%= machineElement.phaseMV3D %></td>
          <td><%= machineElement.versionRacks %></td>
          <td><%= machineElement.versionAlgo %></td>
          <td><%= machineElement.sensiAlgo %></td>

          <td>1: <%= machineElement.revHVPS1 %><br>
              2: <%= machineElement.revHVPS2 %><br>
              3: <%= machineElement.revHVPS3 %></td>

          <td><%= machineElement.ramIAC %></td>
          <td><%= machineElement.ttl %></td>

          <td><a href="/edit/<%= machineElement._id %>">Edit</a></td>
        </tr>
        <% });}else{ %>
          <tr>
            <td colspan="6">No Record Found</td>
          </tr>
        <% } %>
    </tbody>
</table>
</body>

<script>
  // SEARCHBAR
  // Get references to the search bar and machine listing table
  const searchBar = document.getElementById('search-bar');
  const machineListingTable = document.getElementById('machine-listing');

  // Add an event listener to the search bar that listens for changes to the input value
  searchBar.addEventListener('input', function() {
    // Get the search query entered by the user
    const searchQuery = searchBar.value.toLowerCase();

    // Loop through each row in the machine listing table
    const rows = machineListingTable.getElementsByTagName('tr');
    for (let i = 0; i < rows.length; i++) {
      const row = rows[i];

      // If the row contains the search query, show it; otherwise, hide it
      const rowData = row.textContent || row.innerText;
      if (rowData.toLowerCase().indexOf(searchQuery) !== -1) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    }
  });
</script>